.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 20px;
}

.scrutins-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.scrutin-card {
  background-color: #f0f0f0; /* Gris clair */
  color: #000000; /* Noir */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
}

.scrutin-card h3 {
  margin-top: 0;
}

.scrutin-card p {
  margin: 10px 0;
}