<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scrutin Details</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/scrutin_details.css') }}">
</head>
<body>
    <div class="container">
        <h1>Scrutin Details</h1>
        <p>Title: {{ scrutin.title }}</p>
        <p>Description: {{ scrutin.description }}</p>
        <p>Options: {{ scrutin.options }}</p>
        <p>Start Date: {{ scrutin.start_date }}</p>
        <p>End Date: {{ scrutin.end_date }}</p>
        <p>Created By: {{ scrutin.created_by }}</p>
        <p>Number of Votes: {{ num_votes }}</p>
        {% if not is_active %}
        <p style="color: red;">This scrutin is inactive.</p>
        {% endif %}
        {% if is_active %}
        <a href="{{ url_for('votes.vote', scrutin_id=scrutin._id) }}">
            <button>Vote</button>
        </a>
        {% endif %}
        <a href="{{ url_for('scrutins.get_all_scrutins') }}">
            <button>Retour aux scrutins</button>
        </a>
    </div>
</body>
</html>