<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vote Cast</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/vote_cast.css') }}">
</head>
<body>
    <div class="container">
        <h1>Vote pris en compte</h1>
        <p>Preferences:</p>
        <ul>
            {% for candidate, rank in vote.preferences.items() %}
            <li>{{ candidate }}: {{ rank }}</li>
            {% endfor %}
        </ul>
        <p>Cast At: {{ vote.cast_at }}</p>
        <a href="{{ url_for('scrutins.get_all_scrutins') }}">
            <button>Retour aux scrutins</button>
        </a>
    </div>
</body>
</html>